H1 {
	color: white;
	background: teal;
	FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif;
	FONT-SIZE: 18pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal
}

H2 {
	COLOR: #000000;
	FONT-FAMILY: lucida-sans, sans-serif;
	FONT-SIZE: 12pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal
}

